body {
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    background-image: url(/images/banner/banner3.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

.header-description {
    color: white;
    direction: rtl;
    padding: 250px;
}

.header-description h1 {
    font-size: 80px;
}

.header-description p {
    font-size: 20px;
}

.header-button {
    color: #005fac;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 22px;
    border-radius: 5px;
    border: none;
}
