body {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 80px;
    line-height: 100px;
}

h2 {
    font-size: 60px;
    line-height: 70px;
}

h3 {
    font-size: 50px;
    line-height: 70px;
}

h4 {
    font-size: 40px;
    line-height: 70px;
}
/* --------------header styles start--------------- */
.header-container {
    background-image: url(./images/banner/banner3.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header-description {
    color: white;
    direction: rtl;
    padding: 250px;
}

.header-description p {
    font-size: 20px;
}

.header-button {
    color: #005fac;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* --------------header styles end--------------- */

/* -----------failures section style start---------- */
.failures-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failures-section img {
    padding: 30px;
}

.failures-description {
    padding: 30px;
}

/* -----------failures section style end---------- */

/* -----------my plan section style start---------- */
.my-plan-section {
    display: flex;
    justify-content: space-evenly;
}

.my-plans-heading {
    text-align: center;
}
/* -----------my plan section style end---------- */

/* -----------mindset section style start---------- */
.mindset-section {
    background-image: linear-gradient(
            90deg,
            #005fac 0%,
            rgba(0, 95, 172, 0) 100%
        ),
        url(/images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 150px;
    display: flex;
    border-radius: 8px;
}

.mindset {
    padding: 0px 220px;
    margin-bottom: 60px;
}

.mindset-description {
    color: white;
    margin-left: 150px;
    margin-bottom: 100px;
}
/* -----------mindset section style end---------- */

/* -----------footer style start ---------- */
footer {
    background-color: #151414;
    color: white;
}

.footer-input {
    color: white;
    font-size: 20px;
    background: transparent;
    border: 1px solid white;
    padding: 15px 55px;
    border-radius: 8px;
}

.footer-button {
    margin-top: 15px;
    color: white;
    background-color: #005fac;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.footer-icons {
    margin-right: 8px;
}
/* -----------footer style end ---------- */
